@model SpanGazV2.Models.tbl_607_bottle

@{
    Layout = null;
}


    <div class="form-group">
        <a style="color:#ffbe2e">Poste number</a>
        <div>
            @Html.DropDownListFor(model=> model.FK_ID_order_details, (IEnumerable<SelectListItem>)ViewBag.FK_ID_order_details, "Select Poste", new { @class = "form-control", @style = "margin-left:15px", @id = "ddlPosteDetails", onchange = "return PosteDetails()" })
        </div>
    </div>


<script type="text/javascript">
    function PosteDetails() {
        var posteDetails = document.getElementById("ddlPosteDetails").value;
        if (posteDetails == 0) {
            return false;
            console.log("ici");
        }
        $.ajax({
            url: '@Url.Action("GetPosteDetails")',
            dataType: "html",
            data: { "IDPosteNumber": posteDetails },
            type: "GET",
            contentType: "application/json",
            success: function (response) {
                $('#PartialGazByPoste').html(response);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }

    function create()
    {
        $.ajax({
            url: '@Url.Action("Create")',
            dataType: "html",
            data: null,
            type: "GET",
            //contentType: "application/json",
            success: function (response) {
                $('#PartialGazByPoste').html(response);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }

    function edit(id)
    {
        console.log(id);

        $.ajax({
            url: '@Url.Action("Edit")',
            dataType: "html",
            data: { id: id },
            type: "GET",
            contentType: "application/json",
            success: function (response) {
                $('#PartialGazByPoste').html(response);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }

    function details(id)
    {
        $.ajax({
            url: '@Url.Action("Details")',
            dataType: "html",
            data: { id: id },
            type: "GET",
            contentType: "application/json",
            success: function (response) {
                $('#PartialGazByPoste').html(response);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }

    function deleteitem(id)
    {
        $.ajax({
            url: '@Url.Action("Delete")',
            dataType: "html",
            data: { id: id },
            type: "GET",
            contentType: "application/json",
            success: function (response) {
                $('#PartialGazByPoste').html(response);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>

