@model SpanGazV2.Models.tbl_607_gaz

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="color:#ffbe2e">Create gaz</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <div class="col-md-4">
                <a style="color:#ffbe2e">Gaz type</a>
                    @Html.DropDownList("FK_ID_gaz_type", null, htmlAttributes: new { @class = "form-control", @style = "margin-left:15px", @id = "IDGAzType" })
                    @Html.ValidationMessageFor(model => model.FK_ID_gaz_type, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <a style="color:#ffbe2e">ID Poste for advice</a>
                    @Html.TextBox("FK_ID_order_details", null, htmlAttributes: new { @class = "form-control", @style = "margin-left:15px", @id = "IDPosteNumber" })
                    @Html.ValidationMessageFor(model => model.FK_ID_order_details, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="form-group row">
            <div class="col-md-4">
                <a style="color:#ffbe2e">Theorical content</a>
                @Html.DropDownList("FK_ID_theorical_content",null, htmlAttributes : new { @class = "form-control", @style = "margin-left:15px", @id = "IDTheoricalContent" } )
                @Html.ValidationMessageFor(model => model.FK_ID_theorical_content, "", new { @class = "text-danger" })

            </div>

            <div class="col-md-3">
                <a style="color:#ffbe2e">Unit</a>
                @Html.DropDownList("FK_ID_unit_theorical_content", null, htmlAttributes: new { @class = "form-control", @style = "margin-left:15px", @id = "IDTheoricalContentUnit" })
                @Html.ValidationMessageFor(model => model.FK_ID_unit_theorical_content, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <a style="color:#ffbe2e">Made tolerance</a>
                @Html.DropDownList("FK_ID_made_tolerance", null, htmlAttributes: new { @class = "form-control", @style = "margin-left:15px", @id = "IDMadeTolerance" })
                @Html.ValidationMessageFor(model => model.FK_ID_made_tolerance, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <a style="color:#ffbe2e">Unit</a>
                @Html.DropDownList("FK_ID_unit_made_tolerance", null, htmlAttributes: new { @class = "form-control", @style = "margin-left:15px", @id = "IDMadeToleranceUnit" })
                @Html.ValidationMessageFor(model => model.FK_ID_unit_made_tolerance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <a style="color:#ffbe2e">Testing tolerance</a>
                @Html.DropDownList("FK_ID_testing_tolerance", null, htmlAttributes: new { @class = "form-control", @style = "margin-left:15px", @id = "IDTestingTolerance" })
                @Html.ValidationMessageFor(model => model.FK_ID_testing_tolerance, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <a style="color:#ffbe2e">Unit</a>
                @Html.DropDownList("FK_ID_unit_testing_tolerance", null, htmlAttributes: new { @class = "form-control", @style = "margin-left:15px", @id = "IDTestingToleranceUnit" })
                @Html.ValidationMessageFor(model => model.FK_ID_unit_testing_tolerance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Create" class="btn btn-success">Create</button>
            </div>
        </div>
}

        <div>
            <button class="btn btn-danger" style="margin-left:15px" onclick="PosteDetails()">Back to list</button>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
