@{
    ViewBag.Title = "Reception";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

@model IEnumerable<SpanGazV2.Models.tbl_607_comments>

<head>
    <title>SpanGaz_V2</title>
    <!-- Google font -->
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600")" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-reboot.css")" rel="stylesheet" type="text/css" />
    <!-- Custom stlylesheet -->
    <link href="@Url.Content("~/Content/home.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tiles.css")" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="container-fluid overflow-auto" style="padding:0; height:80%">
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <tr>
                    <th scope="col" style="width: 12%">
                        @Html.DisplayNameFor(model => model.ID_UID)
                    </th>
                    <th scope="col" style="width: 12%">
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th>
                        <button class="btn btn-success btn-outline-dark" onclick="location.href='@Url.Action("Create")'">Create</button>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="col" style="width: 12%">
                            @Html.DisplayFor(modelItem => item.ID_UID)
                        </th>
                        <th scope="col" style="width: 12%">
                            @Html.DisplayFor(modelItem => item.Date)
                        </th>
                        <th scope="col" style="text-wrap: normal; word-wrap: break-word">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </th>
                        <th scope="col"  style="width: 18%">
                            <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Edit</button> |
                            <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Details", new { id = item.ID })'">Details</button> |
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'">Delete</button>
                        </th>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>




